/*

 PATTERN LIBRARY STARTERKIT OVERWRITE TO KIRBY KDOC THEME

 @author    Jan Kiekeben
 @copyright Jan Kiekeben
 @link      https://github.com/chieferson/pattern-library-starterkit

 */

 

/*BASIC STYLING*/

body {
    font-size: 1.0em;
}
iframe {
    width: 100%;
}
a:focus {
    outline: none;
}

/*SIDEBAR & NAVIGATION AREA*/

aside {
    position: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    width: 300px;
    float: none;
    background-color: #efefef;
}
nav {
    flex-grow: 1;
}
.sidebar-title {
    display: flex;
    align-items: center;
    background-color: #f00;
    height: 60px;
    padding: 0 14px;
}
a.search-button {
    color: #fff;
}
a.jk-logo {
    flex-grow: 1;
    display: flex;
    align-items: center;
    color: #fff;
}
.copyright-wrapper {
    display: flex;
    flex-direction: column;
    padding: 14px;
    background-color: #d7d7d7;
    font-size: .7em;
    text-align: center;
}
.copyright-wrapper p {
    margin: 0;
}
a.button-panel {
    color: #f00;
    border-color: #f00;
    font-size: .8em;
    padding: .3em .8em;
    border: 1px solid;
    border-radius: 20px;
    margin: .7em 0 1.8em 0;
}
a.button-panel:hover {
    background-color: rgba(255, 0, 0, 0.1);
}

/*CONTENT BODY AREA*/

main {
    margin-left: 300px;
    width: 100%;
}
section::before {
    margin: -95px 0 0;
}
hr {
    box-sizing: content-box;
    height: 0;
    border: none;
    padding-top: 50px;
}
h1 {
  font-size: 1.8em;
  font-weight: 600;
}
h2 {
  font-size: 1.5em;
  font-weight: 600;
}
h3 {
  font-size: 1.3em;
  font-weight: 600;
}
.container {
    display: flex;
}
.wrap {
    margin: 0 0;
    max-width: 1000px;
    padding-left: 60px;
    padding-right: 60px;
}
.spacer-bottom {
    margin-bottom: 60px;
}
.spacer-top {
    margin-top: 60px;
}
.page-title-wrapper {
    display: flex;
    align-items: center;
}
.page-title {
    flex-grow: 1;
}
.author {
    color: #999;
    font-size: .85em;
}
.button-outline {
    font-size: .6em;
    padding: .3em .8em;
    border: 1px solid;
    border-radius: 20px;
    margin: 1em 0;
}
.button-outline:hover {
    background-color: rgba(255, 0, 0, 0.1);
    color: #f00;
}

/*PATTERN DEMO STYLING*/

.pattern-demo-wrapper {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
}
.pattern-demo-title {
    padding: 0 0 0 20px;
    color: #aaa;
    font-weight: 600;
    font-size: .8em;
}

/*CODE STYLING*/

.samplecode pre {
    margin: 0 0;
    border-left: 0;
    border-right: 0;
    border-bottom: 0;
}
.samplecode p {
    color: #999;
    padding: 0 20px;
}
.samplecode h1, .samplecode h2, .samplecode h3 {
    color: #999;
    padding: 0 20px;
}
